anyio==4.12.1
asgiref==3.11.0
black==26.1.0
certifi==2026.1.4
click==8.3.1
colorama==0.4.6
cross-web==0.4.1
Django==6.0.1
django-cors-headers==4.9.0
graphql-core==3.2.7
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
platformdirs==4.5.1
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.3.0
ruff==0.14.13
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.5
strawberry-graphql==0.289.0
strawberry-graphql-django==0.74.1
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
wheel==0.45.1
